/.vscode
.csv
.pyc
__pycache__
.env
.env.test
GEMINI.env
final_project/Eminem_Lyrics.csv
final_project.zip
Nlp Final Project.docx
final_project/FinalProject.ipynb
final_project/Gpt2.ipynb
final_project/README.md
final_project/utilities.py
